$bg-body:#F3F3E3;
$bg-main:#FC6C4C;
$text-main:#111827;
$bg-num:#E5E7EB;
$text-gray:#6B7280;
$text-placeholder:#9CA3AF;
$color-border:#D1D5DB;
$text-white:#fff;
$text-review:#4B5563;
$bg-shadow:#fab46433;
