* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
}

.b-container {
  background-color: #F3F3E3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 24px 10px;
  gap: 14px;
}
.b-container header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-bottom: 32px;
}
.b-container header .title {
  font-family: "Merriweather", sans-serif;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
}
.b-container header .describtion {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  max-width: 556px;
  line-height: 1.6;
}
.b-container .container-1 {
  background-color: #fff;
  border-radius: 16px;
  width: 100%;
  max-width: 640px;
  min-height: 33rem;
  box-shadow: 10px 10px rgba(250, 180, 100, 0.2);
  display: none;
}
.b-container .container-1 .stepper {
  display: flex;
  justify-content: space-between;
  margin: 18px 32px;
}
.b-container .container-1 .stepper .step-circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.b-container .container-1 .stepper .step-line {
  width: 100px;
  height: 6px;
  border-radius: 3px;
  margin-top: 14px;
}
.b-container .container-1 .stepper .active {
  background-color: #FC6C4C;
  color: #fff;
  cursor: pointer;
}
.b-container .container-1 .stepper .inactive {
  background-color: #E5E7EB;
}
.b-container .container-1 .line {
  border: 1px solid #E5E7EB;
  width: 90%;
  margin: 32px 30px;
}
.b-container .container-1 .form-title {
  color: #111827;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin: 32px 30px 6px;
}
.b-container .container-1 .from-des {
  color: #6B7280;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 6px 30px 24px;
}
.b-container .container-1 .line-2 {
  border: 1px solid #E5E7EB;
  width: 90%;
  margin: 26px 30px;
}
.b-container .container-1 .btn-next {
  background: #FC6C4C;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0 24px;
  margin: 5px 30px;
  height: 42px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.b-container .container-1 .btn-next:hover {
  background: #fff;
  color: #FC6C4C;
  border: 1px solid #FC6C4C;
}
.b-container .container-1 .btn-next:focus-visible {
  outline: 2px solid #4B5563;
}
.b-container .container-1 .btn-back {
  background: #fff;
  color: #FC6C4C;
  border: 1px solid #FC6C4C;
  border-radius: 8px;
  padding: 0 24px;
  margin: 5px 30px;
  height: 42px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.b-container .container-1 .btn-back:hover {
  background: #FC6C4C;
  color: #fff;
}
.b-container .container-1 .btn-back:focus-visible {
  outline: 2px solid #4B5563;
}
.b-container .container-1 .fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.b-container .container-1 .fields .field {
  display: flex;
  flex-direction: column;
  margin: 10px 24px;
}
.b-container .container-1 .fields .field label {
  margin-bottom: 8px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.b-container .container-1 .fields .field input {
  width: 100%;
  max-width: 17rem;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  padding: 12px;
  transition: 0.2s;
}
.b-container .container-1 .fields .field input:focus {
  border: 1px solid #5759c3;
  outline: none;
}
.b-container .container-1 .fields .field input::-moz-placeholder {
  color: #9CA3AF;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.b-container .container-1 .fields .field input::placeholder {
  color: #9CA3AF;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.b-container .container-1 .fields .field input.is-invalid {
  border-color: red;
}
.b-container .container-1 .fields .error {
  color: red;
  font-size: 14px;
  margin-top: 3px;
}
.b-container .container-1 .footer {
  display: flex;
  justify-content: flex-end;
}
.b-container .container-2 {
  background-color: #fff;
  border-radius: 16px;
  width: 100%;
  max-width: 640px;
  min-height: 33rem;
  box-shadow: 10px 10px rgba(250, 180, 100, 0.2);
  display: none;
}
.b-container .container-2 .stepper {
  display: flex;
  justify-content: space-between;
  margin: 18px 32px;
}
.b-container .container-2 .stepper .step-circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.b-container .container-2 .stepper .step-line {
  width: 100px;
  height: 6px;
  border-radius: 3px;
  margin-top: 14px;
}
.b-container .container-2 .stepper .active {
  background-color: #FC6C4C;
  color: #fff;
  cursor: pointer;
}
.b-container .container-2 .stepper .inactive {
  background-color: #E5E7EB;
}
.b-container .container-2 .line {
  border: 1px solid #E5E7EB;
  width: 90%;
  margin: 32px 30px;
}
.b-container .container-2 .form-title {
  color: #111827;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin: 32px 30px 6px;
}
.b-container .container-2 .from-des {
  color: #6B7280;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 6px 30px 24px;
}
.b-container .container-2 .line-2 {
  border: 1px solid #E5E7EB;
  width: 90%;
  margin: 26px 30px;
}
.b-container .container-2 .btn-next {
  background: #FC6C4C;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0 24px;
  margin: 5px 30px;
  height: 42px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.b-container .container-2 .btn-next:hover {
  background: #fff;
  color: #FC6C4C;
  border: 1px solid #FC6C4C;
}
.b-container .container-2 .btn-next:focus-visible {
  outline: 2px solid #4B5563;
}
.b-container .container-2 .btn-back {
  background: #fff;
  color: #FC6C4C;
  border: 1px solid #FC6C4C;
  border-radius: 8px;
  padding: 0 24px;
  margin: 5px 30px;
  height: 42px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.b-container .container-2 .btn-back:hover {
  background: #FC6C4C;
  color: #fff;
}
.b-container .container-2 .btn-back:focus-visible {
  outline: 2px solid #4B5563;
}
.b-container .container-2 .fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.b-container .container-2 .fields .field2 {
  width: 100%;
  max-width: 17rem;
  height: 4rem;
  display: flex;
  background-color: transparent;
  border: 1px solid #D1D5DB;
  border-radius: 8px;
  transition: 0.2s;
  margin: 16px 24px;
  gap: 23px;
  cursor: pointer;
  align-items: center;
  padding: 0 25px;
}
.b-container .container-2 .fields .field2 .icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #FC6C4C;
  padding: 7px;
}
.b-container .container-2 .fields .field2 span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.b-container .container-2 .fields .field2:hover {
  transform: translateY(-5px);
}
.b-container .container-2 .fields .field2:focus-visible {
  transform: translateY(-5px);
}
.b-container .container-2 .fields .selected {
  border: 1px solid #FC6C4C;
}
.b-container .container-2 .footer {
  display: flex;
  justify-content: space-between;
}
.b-container .container-2 .footer .error {
  color: red;
  font-size: 14px;
}
.b-container .container-3 {
  background-color: #fff;
  border-radius: 16px;
  width: 100%;
  max-width: 640px;
  min-height: 33rem;
  box-shadow: 10px 10px rgba(250, 180, 100, 0.2);
  display: none;
}
.b-container .container-3 .stepper {
  display: flex;
  justify-content: space-between;
  margin: 18px 32px;
}
.b-container .container-3 .stepper .step-circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.b-container .container-3 .stepper .step-line {
  width: 100px;
  height: 6px;
  border-radius: 3px;
  margin-top: 14px;
}
.b-container .container-3 .stepper .active {
  background-color: #FC6C4C;
  color: #fff;
  cursor: pointer;
}
.b-container .container-3 .stepper .inactive {
  background-color: #E5E7EB;
}
.b-container .container-3 .line {
  border: 1px solid #E5E7EB;
  width: 90%;
  margin: 32px 30px;
}
.b-container .container-3 .form-title {
  color: #111827;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin: 32px 30px 6px;
}
.b-container .container-3 .from-des {
  color: #6B7280;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 6px 30px 24px;
}
.b-container .container-3 .line-2 {
  border: 1px solid #E5E7EB;
  width: 90%;
  margin: 26px 30px;
}
.b-container .container-3 .btn-next {
  background: #FC6C4C;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0 24px;
  margin: 5px 30px;
  height: 42px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.b-container .container-3 .btn-next:hover {
  background: #fff;
  color: #FC6C4C;
  border: 1px solid #FC6C4C;
}
.b-container .container-3 .btn-next:focus-visible {
  outline: 2px solid #4B5563;
}
.b-container .container-3 .btn-back {
  background: #fff;
  color: #FC6C4C;
  border: 1px solid #FC6C4C;
  border-radius: 8px;
  padding: 0 24px;
  margin: 5px 30px;
  height: 42px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.b-container .container-3 .btn-back:hover {
  background: #FC6C4C;
  color: #fff;
}
.b-container .container-3 .btn-back:focus-visible {
  outline: 2px solid #4B5563;
}
.b-container .container-3 .fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.b-container .container-3 .fields .field {
  width: 100%;
  max-width: 17rem;
  height: 4rem;
  display: flex;
  background-color: transparent;
  border: 1px solid #D1D5DB;
  border-radius: 8px;
  transition: 0.2s;
  margin: 16px 24px;
  gap: 23px;
  cursor: pointer;
  align-items: center;
  padding: 0 25px;
}
.b-container .container-3 .fields .field:has(input:checked) {
  border: 1px solid #FC6C4C;
}
.b-container .container-3 .fields .field input[type=radio] {
  accent-color: #FC6C4C;
  width: 16px;
  height: 16px;
  transition: 0.2s;
  cursor: pointer;
}
.b-container .container-3 .fields .field span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.b-container .container-3 .fields .field:hover {
  transform: translateY(-5px);
}
.b-container .container-3 .fields .field:has(input:focus-visible) {
  transform: translateY(-5px);
}
.b-container .container-3 .footer {
  display: flex;
  justify-content: space-between;
}
.b-container .container-3 .footer .error {
  color: red;
  font-size: 14px;
}
.b-container .container-4 {
  background-color: #fff;
  border-radius: 16px;
  width: 100%;
  max-width: 640px;
  min-height: 33rem;
  box-shadow: 10px 10px rgba(250, 180, 100, 0.2);
  display: none;
}
.b-container .container-4 .stepper {
  display: flex;
  justify-content: space-between;
  margin: 18px 32px;
}
.b-container .container-4 .stepper .step-circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.b-container .container-4 .stepper .step-line {
  width: 100px;
  height: 6px;
  border-radius: 3px;
  margin-top: 14px;
}
.b-container .container-4 .stepper .active {
  background-color: #FC6C4C;
  color: #fff;
  cursor: pointer;
}
.b-container .container-4 .stepper .inactive {
  background-color: #E5E7EB;
}
.b-container .container-4 .line {
  border: 1px solid #E5E7EB;
  width: 90%;
  margin: 32px 30px;
}
.b-container .container-4 .form-title {
  color: #111827;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin: 32px 30px 6px;
}
.b-container .container-4 .from-des {
  color: #6B7280;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 6px 30px 24px;
}
.b-container .container-4 .line-2 {
  border: 1px solid #E5E7EB;
  width: 90%;
  margin: 26px 30px;
}
.b-container .container-4 .btn-next {
  background: #FC6C4C;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0 24px;
  margin: 5px 30px;
  height: 42px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.b-container .container-4 .btn-next:hover {
  background: #fff;
  color: #FC6C4C;
  border: 1px solid #FC6C4C;
}
.b-container .container-4 .btn-next:focus-visible {
  outline: 2px solid #4B5563;
}
.b-container .container-4 .btn-back {
  background: #fff;
  color: #FC6C4C;
  border: 1px solid #FC6C4C;
  border-radius: 8px;
  padding: 0 24px;
  margin: 5px 30px;
  height: 42px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.b-container .container-4 .btn-back:hover {
  background: #FC6C4C;
  color: #fff;
}
.b-container .container-4 .btn-back:focus-visible {
  outline: 2px solid #4B5563;
}
.b-container .container-4 .fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin: 30px;
}
.b-container .container-4 .fields .field {
  width: 170px;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #D1D5DB;
  background: #E5E7EB;
  border-radius: 8px;
}
.b-container .container-4 .fields .field label {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #4B5563;
  margin: 14px 16px 2px;
}
.b-container .container-4 .fields .field span {
  margin: 2px 14px 16px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #111827;
  overflow-x: auto;
}
.b-container .container-4 .footer {
  display: flex;
  justify-content: space-between;
}
.b-container .container-5 {
  background-color: #fff;
  border-radius: 16px;
  width: 100%;
  max-width: 640px;
  min-height: 33rem;
  box-shadow: 10px 10px rgba(250, 180, 100, 0.2);
  display: none;
}
.b-container .container-5 .stepper {
  display: flex;
  justify-content: space-between;
  margin: 18px 32px;
}
.b-container .container-5 .stepper .step-circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.b-container .container-5 .stepper .step-line {
  width: 100px;
  height: 6px;
  border-radius: 3px;
  margin-top: 14px;
}
.b-container .container-5 .stepper .active {
  background-color: #FC6C4C;
  color: #fff;
  cursor: pointer;
}
.b-container .container-5 .stepper .inactive {
  background-color: #E5E7EB;
}
.b-container .container-5 .line {
  border: 1px solid #E5E7EB;
  width: 90%;
  margin: 32px 30px;
}
.b-container .container-5 .form-title {
  color: #111827;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin: 32px 30px 6px;
}
.b-container .container-5 .from-des {
  color: #6B7280;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 6px 30px 24px;
}
.b-container .container-5 .line-2 {
  border: 1px solid #E5E7EB;
  width: 90%;
  margin: 26px 30px;
}
.b-container .container-5 .btn-next {
  background: #FC6C4C;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0 24px;
  margin: 5px 30px;
  height: 42px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.b-container .container-5 .btn-next:hover {
  background: #fff;
  color: #FC6C4C;
  border: 1px solid #FC6C4C;
}
.b-container .container-5 .btn-next:focus-visible {
  outline: 2px solid #4B5563;
}
.b-container .container-5 .btn-back {
  background: #fff;
  color: #FC6C4C;
  border: 1px solid #FC6C4C;
  border-radius: 8px;
  padding: 0 24px;
  margin: 5px 30px;
  height: 42px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.b-container .container-5 .btn-back:hover {
  background: #FC6C4C;
  color: #fff;
}
.b-container .container-5 .btn-back:focus-visible {
  outline: 2px solid #4B5563;
}
.b-container .container-5 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.b-container .container-5 img {
  margin-bottom: 24px;
}
.b-container .container-5 h2 {
  text-align: center;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 16px;
}
.b-container .container-5 span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #6B7280;
  text-align: center;
  max-width: 474px;
  width: 100%;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .b-container .title {
    font-size: 24px;
    margin: 80px 20px 5px;
  }
  .b-container .describtion {
    font-size: 16px;
    padding: 0 20px;
  }
  .b-container .container {
    width: 100%;
    max-width: 340px;
    height: auto;
    min-height: 44rem;
    padding-bottom: 5px;
  }
  .b-container .container .stepper {
    margin: 18px 22px;
  }
  .b-container .container .stepper .step-circle {
    width: 28px;
    height: 28px;
    font-size: 12px;
  }
  .b-container .container .stepper .step-line {
    width: 60px;
    height: 4px;
    margin-top: 12px;
  }
  .b-container .container .line,
  .b-container .container .line-2 {
    width: 90%;
    margin: 2rem auto;
  }
  .b-container .container-1 .fields,
  .b-container .container-2 .fields,
  .b-container .container-3 .fields,
  .b-container .container-4 .fields {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .b-container .container-5 span {
    max-width: 100%;
    padding: 0 20px;
  }
  .b-container .container-5 img {
    max-width: 100%;
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */